<head>
<style type="text/css">
 .center {  list-style-position:inside;}
</style>
</head>
<body>
<div align="center">
<h1>Rules for the quiz!</h1>
<p>Below are the guidelines for the quiz: -</p>

<ol type="1" class="center">
	<li>Each question has one correct answer</li>
	<li>Each correct answer has +5 points</li>
	<li>Each wrong answer has -1 point</li>
</ol>

<%= link_to 'Start Quiz', :controller => "questions", :action => "get_ques", :id => '1' %>
</div>
</body>